.card {
  border: 1px solid #000;
  background-color: #fff;
  width: 75%;
  margin: auto;
  border-radius: 1rem;
  box-sizing: content-box;
  padding: 1.5rem;
  box-shadow: 10px 10px 0px #000;
}
.img {
  width: 100%;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

button {
  background-color: hsl(47, 88%, 63%);
  width: 5rem;
  padding: 7px;
  font-size: x-small;
  border-radius: 5px;
  font-weight: 800;
  border: none;
  margin-bottom: 1rem;
}

.main-text {
  color: #aaa;
  font-size: 14px;
}

.date {
  font-size: 12px;
  font-weight: 500;
}

.title {
  margin-bottom: 1rem;
  font-weight: 800;
}

.title:hover {
  cursor: pointer;
  color: hsl(47, 88%, 63%);
}

.card > p {
  margin-bottom: 1rem;
}

.avatar-container {
  display: flex;
  height: 5rem;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.avatar-name {
  text-align: center;
  line-height: 5rem;
  font-weight: 800;
}

@media screen and (min-width: 1440px) {
  .card {
    width: 50%;
  }
}
